{% extends 'main/layoute.html' %}

{% block title %}
    <title>Первая страница на django</title>
{% endblock %}

{% block content %}
    {% include 'main/nav.html' %}

<h1>Добро пожаловать в «Генератор Django»</h1>
<hr>
<br>
<h3>«Генератор Django» — простой инструмент, который помогает быстро создавать структуру проекта, страницы, маршруты и шаблоны.</h3>
<br>
<p>Здесь вы можете начать работу над своим веб-приложением всего за несколько минут, без сложной настройки и долгой подготовки.</p>

<p>Наш сайт подходит как начинающим разработчикам, так и тем, кто хочет ускорить создание стандартных модулей для новых проектов.
Мы предлагаем чистую архитектуру, аккуратные шаблоны и удобную навигацию, чтобы ваш код был структурированным и понятным.</p>

<p>Используйте боковое меню, чтобы переключаться между страницами и изучать различные элементы проекта.
Вы можете добавлять новые приложения, расширять шаблоны, подключать стили и создавать полноценные веб-сервисы.</p>
<br>
<h5>Если вы только начинаете изучать Django — этот проект поможет вам быстрее понять базовые принципы и почувствовать себя увереннее в разработке.
Создавайте, экспериментируйте и улучшайте свои навыки вместе с нами!</h5>
{% endblock %}
